<div class="card text-center" style="width: 40rem; margin: 0 auto;">
  <div class="card-header">
    <h1><%= I18n.t("views.title") %></h1>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= I18n.t("views.content.card1.title") %></strong></h5>
    <p class="card-text"><%= I18n.t("views.content.card1.p1") %></p>
    <p><%= I18n.t("views.content.card1.p2") %></p>
  </div>
  <div class="card-body">
  	<h5 class="card-title"><strong><%= I18n.t("views.content.card2.title") %></strong></h5>
  	<ul class="list-group list-group-flush">
	  <li class="list-group-item"><%= I18n.t("views.content.card2.p1") %></li>
	  <li class="list-group-item"><%= I18n.t("views.content.card2.p2") %></li>
	</ul>
  </div>
  <dir class="card-body">
  	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col"><%= I18n.t("views.content.table.row1.th1") %></th>
	      <th scope="col"><%= I18n.t("views.content.table.row1.th2") %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row"><%= I18n.t("views.content.table.row1.td1") %></th>
	      <td><%= I18n.t("views.content.table.row1.td2") %></td>
	    </tr>
	    <tr>
	      <th scope="row"><%= I18n.t("views.content.table.row2.td1") %></th>
	      <td><%= I18n.t("views.content.table.row2.td2") %></td>
	    </tr>
	    <tr>
	      <th scope="row"><%= I18n.t("views.content.table.row3.td1") %></th>
	      <td><%= I18n.t("views.content.table.row3.td2") %></td>
	    </tr>
	    <tr>
	      <th scope="row"><%= I18n.t("views.content.table.row4.td1") %></th>
	      <td><%= I18n.t("views.content.table.row4.td2") %></td>
	    </tr>
	    <tr>
	      <th scope="row"><%= I18n.t("views.content.table.row5.td1") %></th>
	      <td><%= I18n.t("views.content.table.row5.td2") %></td>
	    </tr>
	  </tbody>
	</table>
	<br/>
	<%=link_to  I18n.t("views.nabvar.validate_license_plata"), new_validator_path, :class=> "btn btn-primary" %>
  </dir>
  <div class="card-footer text-muted">
  </div>
</div>